body {
    font-family: 'Abril Fatface', cursive;
    margin: 0;
    background-image: url(app/static/aee07bf40c237bfaec5c69ee4ceaabd6.jpeg);
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(207, 199, 210);
    margin: 0;
    color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 10px;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}